In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
car=pd.read_csv("cardetails.csv")

In [3]:
car.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [4]:
car.drop(columns=['torque'],inplace=True)

In [5]:
car.shape

(8128, 12)

In [6]:
# CLEANING THE DATA

In [7]:
car.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
seats            221
dtype: int64

In [8]:
car.dropna(inplace=True)
car.drop_duplicates(inplace=True)

In [9]:
car.shape

(6718, 12)

In [10]:
def get_brandname(car_name):
    car_name=car_name.split(' ')[0]
    return car_name.strip()

In [11]:
def cleanthedata(value):
    value=value.split(' ')[0]
    value=value.strip()
    if(value==''):
        value=0
    return float(value)

In [12]:
car['name'].unique()

array(['Maruti Swift Dzire VDI', 'Skoda Rapid 1.5 TDI Ambition',
       'Honda City 2017-2020 EXi', ..., 'Tata Nexon 1.5 Revotorq XT',
       'Ford Freestyle Titanium Plus Diesel BSIV',
       'Toyota Innova 2.5 GX (Diesel) 8 Seater BS IV'], dtype=object)

In [13]:
get_brandname('Skoda Rapid 1.5 TDI Ambition')

'Skoda'

In [14]:
car['name']=car['name'].apply(get_brandname)

In [15]:
car['mileage']=car['mileage'].apply(cleanthedata)

In [16]:
car['max_power']=car['max_power'].apply(cleanthedata)

In [17]:
car['engine']=car['engine'].apply(cleanthedata)

In [18]:
car['name'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'], dtype=object)

In [19]:
car['name'].replace(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Datsun', 'Jeep', 'Mercedes-Benz',
       'Mitsubishi', 'Audi', 'Volkswagen', 'BMW', 'Nissan', 'Lexus',
       'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo', 'Kia', 'Fiat', 'Force',
       'Ambassador', 'Ashok', 'Isuzu', 'Opel'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31],inplace=True)

C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\3008544353.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['name'].replace(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\3008544353.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car['name'].replace(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',

In [20]:
car['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [21]:
car['transmission'].replace(['Manual', 'Automatic'],[1,2],inplace=True)

C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\1498164045.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['transmission'].replace(['Manual', 'Automatic'],[1,2],inplace=True)
C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\1498164045.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car['transmission'].replace(['Manual', 'Automatic'],[1,2],inplace=True)

In [22]:
car['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [23]:
car['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)

C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\758986116.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)
C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\758986116.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3],inplace=True)

In [24]:
car['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [25]:
car['fuel'].replace(['Diesel', 'Petrol', 'LPG', 'CNG'],[1,2,3,4],inplace=True)

C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\3417932194.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['fuel'].replace(['Diesel', 'Petrol', 'LPG', 'CNG'],[1,2,3,4],inplace=True)
C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\3417932194.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car['fuel'].replace(['Diesel', 'Petrol', 'LPG', 'CNG'],[1,2,3,4],inplace=True)

In [26]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6718 entries, 0 to 8125
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6718 non-null   int64
 1   year           6718 non-null   int64
 2   selling_price  6718 non-null   int64
 3   km_driven      6718 non-null   int64
 4   fuel           6718 non-null   int64
 5   seller_type    6718 non-null   int64
 6   transmission   6718 non-null   int64
 7   owner          6718 non-null   object
 8   mileage        6718 non-null   float64
 9   engine         6718 non-null   float64
 10  max_power      6718 non-null   float64
 11  seats          6718 non-null   float64
dtypes: float64(4), int64(7), object(1)
memory usage: 682.3+ KB

In [27]:
car

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,1,2014,450000,145500,1,1,1,First Owner,23.40,1248.0,74.00,5.0
1,2,2014,370000,120000,1,1,1,Second Owner,21.14,1498.0,103.52,5.0
2,3,2006,158000,140000,2,1,1,Third Owner,17.70,1497.0,78.00,5.0
3,4,2010,225000,127000,1,1,1,First Owner,23.00,1396.0,90.00,5.0
4,1,2007,130000,120000,2,1,1,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8121,1,2013,260000,50000,2,1,1,Second Owner,18.90,998.0,67.10,5.0
8122,4,2014,475000,80000,1,1,1,Second Owner,22.54,1396.0,88.73,5.0
8123,4,2013,320000,110000,2,1,1,First Owner,18.50,1197.0,82.85,5.0
8124,4,2007,135000,119000,1,1,1,Fourth & Above Owner,16.80,1493.0,110.00,5.0
8125,1,2009,382000,120000,1,1,1,First Owner,19.30,1248.0,73.90,5.0

In [28]:
car['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [29]:
car['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'],[1,2,3,4,5],inplace=True)

C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\3934777569.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',
C:\Users\kshit\AppData\Local\Temp\ipykernel_1624\3934777569.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',

In [30]:
input_dataset=car.drop(columns='selling_price')

In [31]:
output_dataset=car['selling_price']

In [32]:
x_train,x_shape,y_train,y_shape=train_test_split(input_dataset,output_dataset,test_size=0.2)

In [33]:
#MODEL CREATION

In [34]:
Model=LinearRegression()

In [35]:
Model.fit(x_train,y_train)

LinearRegression()

In [36]:
predict=Model.predict(x_shape)
predict

array([ 367625.99807301,  298883.12815335, 1410529.79851752, ...,
        223017.72883622,  732474.50220083,   78477.13923645])

In [37]:
x_train.head(1)

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
2985,16,2012,60000,2,1,1,3,15.04,1598.0,103.6,5.0

In [38]:
input_datamodel=pd.DataFrame([[29	,2000	,15000	,1	,2	,3	,1	,23.08	,1461.0	,63.1,	5.0]],columns=['name','year','km_driven','fuel','seller_type','transmission','owner','mileage','engine','max_power','seats'])

In [39]:
Model.predict(input_datamodel)

array([671912.40508065])

In [40]:
import pickle as pk

In [41]:
pk.dump(Model,open('model.pkl','wb'))

In [42]:
car.describe()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
count,6718.000000,6718.000000,6.718000e+03,6.718000e+03,6718.000000,6718.000000,6718.000000,6718.000000,6718.00000,6718.000000,6718.000000,6718.000000
mean,5.349360,2013.609110,5.263196e+05,7.340230e+04,1.476183,1.107175,1.085591,1.500149,19.46531,1430.891337,87.753036,5.434653
std,4.611335,3.900648,5.235398e+05,5.869980e+04,0.553480,0.322090,0.279780,0.737710,4.04915,493.493277,31.740261,0.984230
min,1.000000,1994.000000,2.999900e+04,1.000000e+00,1.000000,1.000000,1.000000,1.000000,0.00000,624.000000,0.000000,2.000000
25%,1.000000,2011.000000,2.500000e+05,3.800000e+04,1.000000,1.000000,1.000000,1.000000,16.80000,1197.000000,67.100000,5.000000
50%,4.000000,2014.000000,4.200000e+05,6.822150e+04,1.000000,1.000000,1.000000,1.000000,19.44000,1248.000000,81.830000,5.000000
75%,8.000000,2017.000000,6.500000e+05,1.000000e+05,2.000000,1.000000,1.000000,2.000000,22.50000,1498.000000,100.000000,5.000000
max,31.000000,2020.000000,1.000000e+07,2.360457e+06,4.000000,3.000000,2.000000,5.000000,42.00000,3604.000000,400.000000,14.000000